<%- include('../templates/nav.ejs')  %> 
<h1>Welcome to login</h1>
<form action="./auth/login" method="POST">
    <input type="text" name="email">Email
    <input type="text" name="password">Password
    <button type="submit">Iniciar sesión</button>
</form>
<%- include('../templates/footer.ejs')  %> 