@tailwind base;
@tailwind components;
@tailwind utilities;

h1,h2,h3,h4,h5,h6, .font {
    font-family: 'Playfair Display', serif;
}

@layer components {
    .no-spinner {
      -moz-appearance: textfield;
    }

    .no-spinner::-webkit-outer-spin-button,
    .no-spinner::-webkit-inner-spin-button {
      margin: 0;
      -webkit-appearance: none;
    }
  }