<%- include('../templates/nav.ejs')  %> 
<form action="/carrito/add" method="post">
    <input type="number" name="id">
    <input type="number" name="quantity">
    <button type="submit">enviar</button>
</form>
<%- include('../templates/footer.ejs')  %> 